
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Lalezar&display=swap');

 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: sans-serif;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    height: 10vh;
    margin: 0 auto;
    padding: 0 5rem;
 }

 nav .logo{
    display: flex;
    font-size: 2rem;
    align-items: center;
 }

 nav .logo i{
    color: #6e0aef;
    padding-left: 0.75rem;
 }
 nav .logo h4{
    font-family: 'lalezar', cursive;
 }
 nav .nav-items{
    display: flex;
    list-style-type: none;
 }
 nav .nav-items .nav-item{
    padding: 0 1rem;
 }

 nav .nav-link{
    text-decoration: none;
  color: #4e547e;
  font-size: 1.4rem;
 }

 nav .nav-link:hover {
    color: #6e0aef;
 }

 .hero{
   background-image: url(Hayat\ \(1\).jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 600px;
 }
 .hero-section{
   max-width: 1366px;
   height: 90vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding: 0 5rem ;
 }

 .hero-section .content{
   display: flex;
   flex-direction: column;
 }
 .hero-section h4{
    color: #6e0aef;
    font-size: 2.6rem;
    margin-bottom: 1rem;
 }

 .hero-section .content h1{
   font-size: 2.6rem;
   margin-bottom: 1rem;
 }

 .hero-section p {
   color: rgb(29, 29, 29);
   font-size: 1.4rem;
 }


 .hero-section p span {
   color: #6e0aef;
 }
.btn {
   width: 10rem;
   margin-top: 3rem;
   border-radius: 0.5rem;
   outline: none;
   border: none;
   padding: 0.75rem 1.5rem;
   background-color: #6e0aef;
 }
 .btn:hover {
   background-color: #7d25f0;
   cursor: pointer;
 }

 .btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
 }

 .section-features{
   padding: 2rem 0;
   background-color: #f8f7fc;
 }

section.features .features-section{
   max-width: 1366px;
   margin: 0 auto;
   padding: 0 5rem;
   display: flex;
   flex-direction: column;
   display: flex;
}
.features-section h4{
   color: #6e0aef;
   font-size: 1.6rem;
   margin-bottom: 2rem;
}
.features-section .qualities{
   display: flex;
   justify-content: space-between;
}

.features-section .quality {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffffff;
   padding: 2rem;
   max-width: 17rem;
   border-radius: 3rem;
   margin: 3rem;
}

.features-section .quality:hover{
   border: 2px solid #6e0aef;
}

.qualities .quality i {
   font-size: 2rem;
   color: #6e0aef;
   margin-bottom: 1rem;
}

.qualities .quality h3 {
   font-size: 1.6rem;
   margin-bottom: 3rem;
}

.qualities .quality p{
   font-size: 1.2rem;
   text-align: center;
   color: #4e547e;
}



.newest.phone{
   padding-top: 5rem;
}


.newest-phones .phones-section {
   max-width: 1366px;
   margin: 0 auto;
   padding: 0 5rem;
   display: flex;
   flex-direction: column;
}

.phones-section h4 {
   color: #6e0aef;
   font-size: 1.6rem;
   margin-bottom: 2rem;
   text-align: center;
}

.phones-section .phones{
display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 justify-content: flex-start;  
}

.phones .phone {
   margin: 3rem;
   max-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.phone img {
margin-bottom: 1rem;
}

.phone img:hover {
   scale: 1.1;
}

.phone h3 {
   font-size: 1.6rem;
}
 
.phones-section button{
  width: 12rem;
  margin-bottom: 1rem;
  align-self: center;
}
.img1{
   width: 100px;
   height: 100px;
   
}

.safe {
   color: #6e0aef;
   font-size: 30px;
}

.ahmed{
   float: left;
}


.good{
   font-size: 35px;
}



.ahmed2{
   font-size: 38px;
}

.welcome{
   font-size: 60px;
}


.website{
   text-align: center;
   font-size: 1rem;
   font-family: Aljazeera;
}

.copy{
   justify-content: center;
   width: 10px;
   height: 10px;
}



